/* CSS files add styling rules to your content */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
  
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
div.hero,
.jumbotron {
  color: yellow;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.3), rgba(0,0,0,0.5))
}